@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');

:root {

    /* ========== COLOR ========== */
    --ligther : #B4CEF7;
    --light : #689EF0;
    --main : #1D6DE8;
    --dark : #13499B;
    --darker : #0A244D;
	--first-color: hsl(38, 92%, 58%);
 	--first-color-light: hsl(38, 100%, 78%);
  	--first-color-alt: hsl(32, 75%, 50%);
  	--second-color: hsl(195, 75%, 52%);
  	--dark-color: hsl(212, 40%, 12%);
  	--white-color: hsl(212, 4%, 95%);
  	--body-color: hsl(212, 42%, 15%);
  	--container-color: hsl(212, 42%, 20%);

	/* ========== FONT SIZE ========== */
	--fs-title : 2.7rem;
	--fs-description : 1.2rem;
	--h2-font-size: 1.25rem;
	--normal-font-size: 1rem;

	/*========== Margenes Bottom ==========*/
	--mb-0-25: 0.25rem;
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-25: 1.25rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
}


/* ========== Reset HTML ========== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
	color: var(--darker);
}

p{
	color: #6A708E;
}
a{
	text-decoration: none;
}
/* ========== Display ========== */
.grid {
	display: grid;
}

.section {
	padding: 4.5rem 0 2.5rem;
  }

/* ========== Header ========== */
section#header {
	position: fixed;
	width: 100%;
	background-color: #ffffff;
	z-index: 99;
}

.header_content {
    display: flex;
    justify-content: space-between;
}

.contact_header, .time_header{
    gap: 1rem;
    justify-content: space-around;
    align-items:flex-start;
}

a.nav-link{
	color: var(--main);
	font-weight: 600;
}

.nav_btn{
	width: 120px;
}


/* ========== Home ========== */
section.home {
	padding-top: 9rem;
	background: rgb(255,255,255);
	background: linear-gradient(120deg, rgba(255,255,255,1) 51%, rgba(29,109,232,0.2) 100%);
}

.active{
color: var(--light);
}

.navbar_btn{
	width: 40%;
}

.home_detail{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.home_title{
	font-size: 2.7rem;
	color: var(--darker);
}

.home_description{
	font-size: 1.2rem;
}

.home_btn{
	width: 200px;
	margin: auto;
	height: 58px;
}

.home_pict{
	display: flex;
	justify-content: center;
}

.home_img{
	width: 100%
}

.home_card {
	width: 80%;
	height: 100%;
	border-radius: 15px;
	background: #ffffff;
	box-shadow: 15px 15px 30px #e2e1e1,
			   -15px -15px 30px rgb(241, 240, 240);

	margin: auto;
	padding: 10px;
  }

  .benefit_content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 3rem;
}
.benefit_img{
	margin: auto;
}

.home_benefit_title{
	font-size: 1.2rem;
	padding-top: 10px;
	text-align: center;
}

.home_benefit_description{
	font-size: 1rem;
	text-align: center;
}

/* ========== About Us ========== */
section.about_us{
	padding-top: 100px;
	
}

.about{
	padding: 10px;
}

.about_title{
	font-size: var(--fs-title);
	color: var(--darker);
	text-align: center;
}

.about_subtitle{
	font-size: var(--fs-description);
	margin-bottom: 2rem;
	text-align: center;
}

.about_detail{
	display: flex;
	justify-content: start;
}

.about_description{
	display: flex;
	justify-content: start;
	gap: 10px;
}

.about_btn{
	width: 35%;
	height: 58px;
}

.about_img_hero{
display: flex;
justify-content: center;
}

.about_img{
	margin: auto;
	width: 100%;
	
}

/* ========== Service ========== */

.service_title{
	font-size: var(--fs-title);
	color: var(--darker);
	text-align: center;
}

.service_subtitle{
	font-size: var(--fs-description);
	margin-bottom: 2rem;
	text-align: center;
}

.service_detail{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.service_btn{
	order: 4;
	margin-top: 1.5rem;
	background: #ffffff;
	box-shadow: 15px 15px 30px #e2e1e1,
			   -15px -15px 30px rgb(241, 240, 240);
	border-radius: 15px;
	height: 58px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 158px;
}



.card_service {
	width: 80%;
	height: 300px;
	border-radius: 15px;
	background: #ffffff;
	box-shadow: 15px 15px 30px #e2e1e1,
			   -15px -15px 30px rgb(241, 240, 240);
	padding: 20px;
	margin-top: 1.5rem;
  }


/* ========== Why Choose Us ========== */
section.choose_us{
	padding-top: 100px;
}

.choose_title{
	color: var(--darker);
	font-size: var(--fs-title);
	text-align: center;
}

.choose_subtitle{;
	font-size: var(--fs-description);
	text-align: center;
}



.choose_cards{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.choose_card{
	width: 80%;
	height: 300px;
	border-radius: 15px;
	background: #ffffff;
	box-shadow: 15px 15px 30px #e2e1e1,
			   -15px -15px 30px rgb(241, 240, 240);
	padding: 20px;
	margin-top: 1.5rem;
	order: 2;
}

.choose_card_content{
	margin-top: 1.5rem;
}
.choose_card_title{
	color: var(--darker);
	font-size: 1.5rem;
}

.choose_img{
	width: 80%;
	margin: auto;
	margin-top: 1.5rem;
}

.choose_benefit{
	display: flex;
	justify-content: center;
}

.choose_benefit_card{
	grid-template-columns: 1fr 1fr;
	width: 75%;
	height: 100%;
	border-radius: 15px;
	background: #ffffff;
	box-shadow: 15px 15px 30px #e2e1e1,
			   -15px -15px 30px rgb(241, 240, 240);
	padding: 20px;
	margin-top: 1.5rem;
	align-items: center;
}

.choose_benefit_content{
	text-align: center;
}


/* ========== Our Doctor ========== */
section.our_doctor{
	padding-top: 100px;
}

.doctor_title{
	color: var(--darker);
	font-size: var(--fs-title);
	text-align: center;
}

.doctor_subtitle{
	font-size: var(--fs-description);
	text-align: center;
}

.doctor_cards{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.doctor_card{
	width: 75%;
	height: 100%;
	border-radius: 15px;
	background: #ffffff;
	box-shadow: 15px 15px 30px #e2e1e1,
			   -15px -15px 30px rgb(241, 240, 240);
	margin-top: 1.5rem;  
	padding-bottom: 1rem;
}

.doctor_img{
	width: 100%;
}

.doctor_card_detail,.sosmed_doctor, .doctor_name{
	padding-left: 10px;
}
.sosmed_doctor{
	margin: 5px;
}

.doctor_button{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.doctor_btn{
	margin-top: 1.5rem;
	background: #ffffff;
	box-shadow: 15px 15px 30px #e2e1e1,
			   -15px -15px 30px rgb(241, 240, 240);
	border-radius: 15px;
	height: 58px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
}

/* ========== Testimonial ========== */
section.testimonial{
	padding-top: 100px;
}

.testimonial_title{
	color: var(--darker);
	text-align: center;
	font-size: var(--fs-title);
}

.testimonial_subtitle{
	font-size: var(--fs-description);
	text-align: center;
	margin-bottom: 2rem;
}

.swiper{
	width: 100%;
  }
  
  .swiper-wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
  }
  
  .testimonial_card{
	width: 85%;
	height: 650px;
	background: #ffffff;
	box-shadow: 15px 15px 30px #e2e1e1,
			   -15px -15px 30px rgb(241, 240, 240);
	border-radius: 15px;
	padding: 1em 1em;
	margin: 0 2em;
  }
  
  .swiper-slide:not(.swiper-slide-active){
	filter: blur(1px);
  }
  
  .card_image-testimonial{
	width: 130px;
	border-radius: 50%;
	margin-bottom: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .card_image-testimonial img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
  }
  
  .testimonial_name{
	font-size: 1.5rem;
	font-weight: 500;
	position: relative;
	top: .2em;
  }
  
  .testimonial_role{
	color: var(--color);
  }
  
  .testimonial_text{
	font-size: 1.1rem;
	margin: 1em 0;
  }
  

/* ========== Blog ========== */
section.blog{
	padding-top: 100px;
}

.title_ourblog{
	font-size: var(--fs-title);
	color: var(--darker);
	text-align: center;
}

.ourblog_cards{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ourblog_card{
	width: 80%;
	height: 400px;
	border-radius: 15px;
	background: #ffffff;
	box-shadow: 15px 15px 30px #e2e1e1,
			   -15px -15px 30px rgb(241, 240, 240);
	padding:0;
	margin-top: 1.5rem;
}

.img_card_blog{
	width: 100%;
}

.title_card_blog{
	color: grey;
	padding-left: 13px;
}

.subtitle_card_blog{
	color: var(--darker);
	padding-left: 13px;
}

.ourblog_card p {
	padding-left: 13px;
}
.blog_button{
	display: flex;
	justify-content: center;
	align-items: center;
}
.blog_btn{
	margin-top: 1.5rem;
	background: #ffffff;
	box-shadow: 15px 15px 30px #e2e1e1,
			   -15px -15px 30px rgb(241, 240, 240);
	border-radius: 15px;
	height: 58px;
	text-align: center;
	width: 158px;
}


/* ========== Faq ========== */
section.faq{
	padding-top: 100px;
}

.faq_title{
	font-size: var(--fs-title);
	color: var(--darker);
	text-align: center;
}

.faq_cards{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.faq_card{
	width: 80%;
	height: 100%;
	border-radius: 10px;
	background: #ffffff;
	box-shadow: 15px 15px 30px #e2e1e1,
			   -15px -15px 30px rgb(241, 240, 240);
	padding: 15px;
	margin-top: 1.5rem;
	display: flex;
	justify-content: space-around;
}

.faq_description{
	text-align: center;
}

.faq_card{
	display: flex;
}

.faq_card_title{
	color: var(--darker);
	font-size: 16px;
}
.faq_card_btn{
	font-size: 2rem;
	background-color: #ffffff;
	border: none;
	color: var(--darker);
}

/* ========== Faq ========== */
section.appointment{
	margin-top: 100px;
	background: rgb(255,255,255);
	background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(164,214,255,1) 100%);
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: ;
}

.appointment_subtitle{
	text-align: center;
}

.appointment_btn{
	margin-top: 1rem;
	border-radius: 10px;
	height: 58px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.appointment_title{
	color: var(--darker);
	font-size: var(--fs-title);
	text-align: center;
}

/*=============== FOOTER ===============*/
footer{
	background-color: var(--darker);
	
}
.footer__container {
	row-gap: 5rem;
	padding: 10px;
  }
  
  .footer__content {
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	row-gap: 2rem;
  }

  .footer__data ul{
	padding: 0;
	margin: 0;
  }
  
  .footer__title,
  .footer__subtitle {
	color: whitesmoke;
  }
  
  .footer__title {
	margin-bottom: var(--mb-0-5);
  }
  
  .footer__description {
	margin-bottom: var(--mb-2);
  }
  
  .footer__social {
	font-size: 1.25rem;
	color: whitesmoke;
	margin-right: var(--mb-1-25);
	text-decoration: none;
  }
  
  .footer__subtitle {
	margin-bottom: var(--mb-1);
  }
  
  .footer__item {
	margin-bottom: var(--mb-0-75);
  }
  
  .footer__link {
	text-decoration: none;
	color: #6A708E;
  }
  
  .footer__link:hover {
	color: whitesmoke;
  }
  
  .garis-footer{
	height: 2px;
	color: var(--white-color);
  }
  .footer__rights {
	display: flex;
	justify-content: space-between;
  }
  
  .footer__copy,
  .footer__terms-link {
	font-size: var(--small-font-size);
	color: var(--white-color);
  }
  
  .footer__terms {
	display: flex;
	column-gap: 1.5rem;
	justify-content: center;
  }
  
  .footer__terms-link:hover {
	color: var(--text-color);
  }

  /*========== SCROLL UP ==========*/
.scrollup {
	position: fixed;
	right: 1rem;
	bottom: -20%;
	background-color: var(--dark);
	padding: 0.5rem;
	display: flex;
	opacity: 0.9;
	z-index: var(--z-tooltip);
	transition: 0.4s;
  }
  
  .scrollup:hover {
	background-color: whitesmoke;
	opacity: 1;
  }
  
  .scrollup__icon {
	color: white;
	font-size: 1.2rem;
  }
  
  /* Show scroll */
  .show-scroll {
	bottom: 5rem;
  }
  
  /*=============== SCROLL BAR ===============*/
  ::-webkit-scrollbar {
	width: 0.6rem;
	background-color: var(--scroll-bar-color);
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: var(--scroll-thumb-color);
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: var(--text-color-light);
  }
  
  /* ========== Media Queries ========== */

  /* For small devices */
  @media screen and (min-width: 320px){

	.header_content{
		display: none;
	}

	.cards_service{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.img-choose{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.choose-card{
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	.footer__rights {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	  }
  }
  /* For medium devices */
  @media screen and (min-width: 568px) {
	/* ========== About Us ========== */
	.about_benefit{
		display: grid;
	    grid-template-columns: 1fr 1fr; 
		justify-content: space-around;
		margin: auto;
		gap: 10px;
		margin-bottom: 5rem;
		
	}

	.about_btn{
		width: 120px;
	}

	.doctor_cards{
		display: grid;
		grid-template-columns: 1fr 1fr; 
	}

	.doctor_card{
		width: 250px;
		height: 500px;
		margin: auto;
		margin-top: 1rem;
	}
	/* ========== Testimonial ========== */
	.testimonial_card{
	height: 450px;
	}

	.testimonial_name{
		width: 300px;
	}

	/* ========== Ourblog ========== */
	.ourblog_card{
		height: 500px;
	}

	.ourblog_detail{
		padding: 20px;
	}

	/* ========== Footer ========== */
	.footer__rights {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: space-between;	
	  }

	  .footer__copy{
		justify-content: start;
		display: flex;
	  }

	  .footer__terms{
		justify-content: end;
	  }
  }


  @media screen and (min-width: 768px) {
/* ========== Header ========== */

section#header{
	padding-top: 20px;
}

.header_content{
	display: block;

}

.header_detail{
	display: flex;
	justify-content: space-between;
}

.contact_header, .time_header{
	display: flex;
	justify-content: flex-start;
}




/* ========== Home ========== */
.home_card{
	display: flex;
	justify-content: center;
	width: 90%;
}
.benefit_content{
	margin: 1rem;
}


/* ========== Our Doctor ========== */
.doctor_card{
	width: 280px;
	height: 450px;
	margin: auto;
	margin-top: 3rem;

}

.doctor_card_detail{
	display: flex;
	gap: 1rem;
	padding: 10px;
}

/* ========== Testimonial ========== */
.testimonial_card{
	height: 400px;
	}

/* ========== Ourblog ========== */
	.ourblog_cards{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
	}
	.ourblog_card{
	height: 490px;
	width: 220px;
	margin: 10px;
	
	}

	/* ========== Appointment ========== */
	.apointment_content{
	max-width: 600px;
}
  } 

  /* For large devices */
@media screen and (min-width: 1024px) {
/* ========== Navbar ========== */
	.navbar-collapse{
	display: flex;
	justify-content: end;
	}
	a.nav-link{
	color: var(--main);
	font-weight: 600;
	margin-left: 10px;
	}

/* ========== Home ========== */
	.home_content{
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	}

	.home_detail{
	display: flex;
	justify-content: start;
	align-items: start;
	text-align: start;
	width: 450px;
	}

	.home_card{
		justify-content: space-evenly;
		width: 1000px;
	}

	.benefit_content{
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
	}


	.home_benefit_title{
		font-size: 1rem;
		text-align: start;
	}

	.home_benefit_description{
		font-size: 0.9rem;
		text-align: start;
	}

	/* ========== About us ========== */
	.about_us_content{
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	}

	.about{
	width: 470px;
	order: 2;
	}
	.about_title, .about_subtitle{
	text-align: start;
	}

	/* ========== Service ========== */
	.service_content_detail{
	justify-content: center;
	width: 450px;
	}

	.service_title, .service_subtitle{
		text-align: start;
	}

	.service_detail{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.service_btn{
	order: 1;
	}

	.cards_service{
		display: flex;
		flex-direction: row;
		order: 2;
	}
	.card_service{
		width: 100%;
		margin-right: 1rem;
	}

/* ========== Choose Us ========== */
.choose_content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.choose_title, .choose_subtitle{
	width: 924px;
}

.choose_cards{
	display: flex;
	flex-direction: row;
	gap: 2rem;
	align-items: center;
}

.choose_card{
	width: 350px;
	height: 180px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.choose_card img{
	width: 60px;
	height: 60px;
}

.choose_card_title{
	font-size: 1.25rem;
	font-weight: 600;
}

.choose_card_subtitle{
	font-size: 0.8rem;
}

.choose_img{
	width: 500px ;
}

.choose_benefit_card{
	display: flex;
	justify-content: space-between;
	width: 890px;
}

/* ========== Our Doctor ========== */
.doctor{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

	.doctor_content{
		width: 600px;
	}

	.doctor_cards{
		display: flex;
		flex-direction: row;
		gap: 2rem;
	}

	.testimonial_cs_title{
		width: 450px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
	}

/* ========== Testimonial ========== */
	.testimonial_title, .testimonial_subtitle{
		text-align: start;
	}

	.testimonial_card{
		width: 600px;
		height: 420px;
	}

	.card_testimonial_content{
		justify-content: flex-start;
	}

/* ========== Blog ========== */
.ourblog{
	display: flex;
	flex-direction: column;
}

.ourblog_content{
	width: 600px;
}

.title_ourblog{
	text-align: start;
}

.ourblog_cards{
	padding-top: 2rem;
	display: flex;
	order: 2;
}

.ourblog_card{
	width: 280px;
}

.blog_button{
	order: 1;
}


/* ========== Footer ========== */
.footer__detail{
	display: flex;
	justify-content: space-around;
}

.footer__data{
	margin-right: 2rem;
}

.footer__content{
	display: flex;
	justify-content: space-between;
}

.footer__subtitle{
	font-size: 1rem;
}

.footer__item{
	font-size: 0.9rem;
}
}
